region: "us-ashburn-1"
ad: "LUbc:US-ASHBURN-AD-1"
compartment_ocid: "ocid1.compartment.oc1.."
shape: "VM.Standard.E4.Flex"
subnet_ocid: "ocid1.subnet.oc1.iad.aaaaaaaa"
access_cfg_file: "/home/opc/.oci/config"
access_cfg_file_account: "DEFAULT"
auth_type: "resource_principal"
OpenSSH9: false
shape_config:     
  ocpus: 8
  memory_in_gbs: 32
boot_volume_size_in_gbs: 200